// Footer
section.section-padding.footer.bg-white.border-top
    .container
        .row
            .col-lg-3.col-md-3
                h4.mb-5.mt-0
                    a.logo(href='index.html')
                        img(src='/images/logo-footer.png' alt='Groci')
                p.mb-0
                    a.text-dark(href='#')
                        i.mdi.mdi-phone
                        |  +61 525 240 310
                p.mb-0
                    a.text-dark(href='#')
                        i.mdi.mdi-cellphone-iphone
                        |  12345 67890, 56847-98562
                p.mb-0
                    a.text-success(href='#')
                        i.mdi.mdi-email
                        |  iamosahan@gmail.com
                p.mb-0
                    a.text-primary(href='#')
                        i.mdi.mdi-web
                        |  www.askbootstrap.com
            .col-lg-2.col-md-2
                h6.mb-4 TOP CITIES 
                ul
                    li
                        a(href='#') New Delhi
                    li
                        a(href='#') Bengaluru
                    li
                        a(href='#') Hyderabad
                    li
                        a(href='#') Kolkata
                    li
                        a(href='#') Gurugram
                    ul
            .col-lg-2.col-md-2
                h6.mb-4 CATEGORIES
                ul
                    li
                        a(href='#') Vegetables
                    li
                        a(href='#') Grocery &amp; Staples
                    li
                        a(href='#') Breakfast &amp; Dairy
                    li
                        a(href='#') Soft Drinks
                    li
                        a(href='#') Biscuits &amp; Cookies
                    ul
            .col-lg-2.col-md-2
                h6.mb-4 ABOUT US
                ul
                    li
                        a(href='#') Company Information
                    li
                        a(href='#') Careers
                    li
                        a(href='#') Store Location
                    li
                        a(href='#') Affillate Program
                    li
                        a(href='#') Copyright
                    ul
            .col-lg-3.col-md-3
                h6.mb-4 Download App
                .app
                    a(href='#')
                        img(src='/images/google.png' alt='')
                    a(href='#')
                        img(src='/images/apple.png' alt='')
                h6.mb-3.mt-4 GET IN TOUCH
                .footer-social
                    a.btn-facebook(href='#')
                        i.mdi.mdi-facebook
                    a.btn-twitter(href='#')
                        i.mdi.mdi-twitter
                    a.btn-instagram(href='#')
                        i.mdi.mdi-instagram
                    a.btn-whatsapp(href='#')
                        i.mdi.mdi-whatsapp
                    a.btn-messenger(href='#')
                        i.mdi.mdi-facebook-messenger
                    a.btn-google(href='#')
                        i.mdi.mdi-google
// End Footer
// Copyright
section.pt-4.pb-4.footer-bottom
    .container
        .row.no-gutters
            .col-lg-6.col-sm-6
                p.mt-1.mb-0
                    | &copy; Copyright 2018 
                    strong.text-dark Groci
                    | . All Rights Reserved
                    br
                    small.mt-0.mb-0
                        | Made with 
                        i.mdi.mdi-heart.text-danger
                        |  by 
                        a.text-primary(href='https://askbootstrap.com/' target='_blank') Ask Bootstrap
            .col-lg-6.col-sm-6.text-right
                img(alt='osahan logo' src='/images/payment_methods.png')
// End Copyright
.cart-sidebar
    .cart-sidebar-header
        h5
            | My Cart 
            span.text-success (5 item)
            a.float-right(data-toggle='offcanvas' href='#')
                i.mdi.mdi-close
    .cart-sidebar-body
        .cart-list-product
            a.float-right.remove-cart(href='#')
                i.mdi.mdi-close
            img.img-fluid(src='/images/11_1.jpg' alt='')
            span.badge.badge-success 50% OFF
            h5
                a(href='#') Product Title Here
            h6
                strong
                    span.mdi.mdi-approval
                    |  Available in
                |  - 500 gm
            p.offer-price.mb-0
                | $450.99 
                i.mdi.mdi-tag-outline
                span.regular-price $800.99
        .cart-list-product
            a.float-right.remove-cart(href='#')
                i.mdi.mdi-close
            img.img-fluid(src='/images/7_1.jpg' alt='')
            span.badge.badge-success 50% OFF
            h5
                a(href='#') Product Title Here
            h6
                strong
                    span.mdi.mdi-approval
                    |  Available in
                |  - 500 gm
            p.offer-price.mb-0
                | $450.99 
                i.mdi.mdi-tag-outline
                span.regular-price $800.99
        .cart-list-product
            a.float-right.remove-cart(href='#')
                i.mdi.mdi-close
            img.img-fluid(src='/images/9_1.jpg' alt='')
            span.badge.badge-success 50% OFF
            h5
                a(href='#') Product Title Here
            h6
                strong
                    span.mdi.mdi-approval
                    |  Available in
                |  - 500 gm
            p.offer-price.mb-0
                | $450.99 
                i.mdi.mdi-tag-outline
                span.regular-price $800.99
        .cart-list-product
            a.float-right.remove-cart(href='#')
                i.mdi.mdi-close
            img.img-fluid(src='/images/1_2.jpg' alt='')
            span.badge.badge-success 50% OFF
            h5
                a(href='#') Product Title Here
            h6
                strong
                    span.mdi.mdi-approval
                    |  Available in
                |  - 500 gm
            p.offer-price.mb-0
                | $450.99 
                i.mdi.mdi-tag-outline
                span.regular-price $800.99
        .cart-list-product
            a.float-right.remove-cart(href='#')
                i.mdi.mdi-close
            img.img-fluid(src='/images/2_2.jpg' alt='')
            span.badge.badge-success 50% OFF
            h5
                a(href='#') Product Title Here
            h6
                strong
                    span.mdi.mdi-approval
                    |  Available in
                |  - 500 gm
            p.offer-price.mb-0
                | $450.99 
                i.mdi.mdi-tag-outline
                span.regular-price $800.99
    .cart-sidebar-footer
        .cart-store-details
            p
                | Sub Total 
                strong.float-right $900.69
            p
                | Delivery Charges 
                strong.float-right.text-danger + $29.69
            h6
                | Your total savings 
                strong.float-right.text-danger $55 (42.31%)
        a(href='checkout.html')
            button.btn.btn-secondary.btn-lg.btn-block.text-left(type='button')
                span.float-left
                    i.mdi.mdi-cart-outline
                    |  Proceed to Checkout
                span.float-right
                    strong $1200.69
                    span.mdi.mdi-chevron-right
// Bootstrap core JavaScript
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.bundle.min.js')
// select2 Js
script(src='/javascripts/select2.min.js')
// Owl Carousel
script(src='/javascripts/owl.carousel.js')
// Custom
script(src='/javascripts/custom.js')
